@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.scrollbar-md {
  &::-webkit-scrollbar {
    width: 8px;
    cursor: default;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #dedfe0;
  }
}
